<div>
  <%= render "shared/title", title: "Dashboard" %>

    <!-- Month navigation -->
  <div class="flex justify-center items-center gap-4 mb-6">
    <% prev_month = @current_date.prev_month %>
    <% next_month = @current_date.next_month %>

    <%= link_to "← #{prev_month.strftime('%b %Y')}", dashboard_path(month: prev_month.month, year: prev_month.year),
          class: "text-gray-600 hover:text-black font-medium" %>

    <span class="font-semibold text-gray-900"><%= @current_date.strftime("%B %Y") %></span>

    <%= link_to "#{next_month.strftime('%b %Y')} →", dashboard_path(month: next_month.month, year: next_month.year),
          class: "text-gray-600 hover:text-black font-medium" %>
  </div>


  <%= render "top_stats", total_this_month: @total_this_month, daily: @daily, monthly_expenses_sum: @monthly_expenses_sum %>
  <%= render "spending_by_category", by_category: @by_category %>
</div>
