<div class="mx-auto max-w-md w-full">
  <%= render "shared/title", title: "Edit Income" %>

  <div class="rounded-lg bg-white p-6 shadow-sm">
  <%= form_with model: @income, local: true, class: "space-y-4" do |f| %>
    <% if @income.errors.any? %>
      <div class="bg-red-100 text-red-800 p-3 rounded">
        <ul class="list-disc pl-5">
          <% @income.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :amount, class: label_classes %>
      <%= f.number_field :amount, step: 0.01, class: input_classes %>
    </div>

    <div>
      <%= f.label :date, class: label_classes %>
      <%= f.date_field :date, class: input_classes %>
    </div>

    <div>
      <%= f.label :note, class: label_classes %>
      <%= f.text_field :note, class: input_classes %>
    </div>

    <div class="flex justify-between pt-2">
      <%= link_to "Cancel", incomes_path, class: "text-gray-500 hover:text-black" %>
      <%= f.submit "Update", class: link_primary_classes %>
    </div>
  <% end %>
  </div>
</div>
